*{
    box-sizing: border-box;
}

body{
background-color: rgb(255, 252, 249);
margin-left: 0px;
margin-top: 0%;
margin-bottom: 0%;
height: 200%;
width: 100%;
}
.header{
    display: flex;
    height: 10%;
    width: 100%;
    color:slategrey;
    float: left;
    padding: 10px;
}

#menubar{
    display: flex;
    margin: 10px;
    margin-top: 20px;   
    width: 28%;
    height: 15%;    
    position: absolute;
}

#menubar{
    transition: margin-left .5s;
    padding: 16px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
