      <div class="footer" role="main container for grids" style="background-color:#4c7f91">  
        <div class="#Put" role="title of the webpage">
      
        </div>
        <div class="#Put" role="keeping info about me">

        </div>
        <div class="#Put" role="saving visitor info">

        </div>
        <div id="" role="direct the user to game page">

        </div>
        <div class="#Put" role="footnote of the webpage">

        </div>  
      </div>
    </div>           
  </body>
</html>
