<!Doctype html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="css/index.css">
    <link rel="stylesheet" href="css/contact.css"/>
    <link rel="stylesheet" href="css/calculator.css"/>
    <link rel="stylesheet" href="css/aboutme.css"/>
    <link rel="stylesheet" href="css/game.css"/>
    <link rel="stylesheet" href="css/video.css"/>
    <script src="js/game.js"></script>
</head>
<body>
 <div id="#maincontainer" class="container" role="to hold all the mini contaienrs">  
     <div class="header" role="title of the webpage">
           <div class="maintitlebox" role="hold the title">
             Roshan Thalal
          </div>

      </div>
